@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

* {
    margin: 0; 
    padding: 0;  
    border: 0; 
    outline: 0; 
    list-style:none;
    box-sizing:border-box;
    font-family: 'Titillium Web', sans-serif;
}
table
{
    border-collapse: collapse;
}
input {color:#061649;}
input:disabled {
  background: #f6f8fa;
}
select {  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;}
a {
    cursor:pointer;
    text-decoration: none;
    color:inherit;
}
html {
    height:100%; 
}
body {
    font-family: 'Titillium Web', sans-serif;
    height:100%;
    color:#fff;
    background:#ffffff;
}
#renderedApp {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.mainContainerFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  height: 100%;
}
::-webkit-input-placeholder {
    color: #c7cfdc;
  }
  ::-moz-placeholder { 
    color: #c7cfdc;
  }
  :-ms-input-placeholder { 
    color: #c7cfdc;
  }
  :-moz-placeholder {
    color: #c7cfdc;
  }
  .mainNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    color: #061649;
    align-items: center;
    /* max-width: 1200px; */
    margin: 0 auto;
}
.navLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navLeft img {
  width: 125px;
}

.accountInfoLoggedIn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.accountInfoLoggedIn img {
  border-radius: 100%;
  width: 42px;
  height: 42px;
  border: 4px solid #e6eaef;
  margin-right: 12.5px;
}
.userNameNavContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 17px;
}
.userNameNavContainer i {
  margin-left: 5px;
  font-size: 11px;
}
.mainNavContainer {
  background: #fff;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  z-index: 3;
  box-shadow: 0px 0px 30px -8px #d2dde8;
}
.contentContainer {
  flex: 1;
  position:relative;
}

.listingsContainer{
  position:relative;
  background: url(https://herdius.com/img/home-background-left.png) no-repeat top left,url(../../img/home-background-right.png) no-repeat top right,#061649;
  padding-bottom:25px;
}
.listingsContainer::after {
  content: "";
  background: url(media/ps.svg);
  opacity: 0.02;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  background-position: center center;
  background-size: 700px;
}
.actualContainer {
  max-width: 1200px;
  width:100%;
  margin: 0 auto;
  position:Relative;
  z-index:2
}
/* .containerPadder {
  padding-left:25px;
  padding-right:25px;
} */
.greetingsContainer {
  background: #f6f8fa;
  position: relative;
  padding-left:25px;
  padding-right:25px;
  color:#061649; 
  height:100%;
}
/* .greetingsContainer::after {
  content: "";
  background: url(/media/ps.svg);
  opacity: 0.025;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-size: contain;
  z-index: -1;
  background-position: center center;
} */
.greetingsSub {
  position: relative;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.greetingTL h4 {
  font-size: 26px;
  line-height: 24px;
  color: #061649;
}
.greetingTL p {
  line-height: 24px;
  color: #06164959;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}
.notificationsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right:35px;
}
.notificationsContainer i {
  font-size: 25px;
  color: #85cbf1;
}
.notificationsContainer span {
  position: absolute;
  margin-top: -10px;
  margin-left: 10px;
  background: #0292de;
  display: flex;
  align-items: center;
  line-height: 15px;
  height: 20px;
  width: 20px;
  border-radius: 8px;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
}
.greetingsTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:25px;
}
.greetingsTR a {
  height: 50px;
  background: #0096f8;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 8px;
  min-width: 150px;
  color:#fff;
}
.greetingsTR {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchContainer i {
  position: absolute;
  color: #061649;
  right: 25px;
  font-size: 22px;
}
.profileDrop {
  position: absolute;
  top: 75px;
  color: #061649;
  width: 200px;
  background: #fff;
  right: 0px;
  box-shadow: 0px 0px 30px -8px #d2dde8;
  border-radius: 8px;
}
.accountBalanceContainer b {
  padding-left: 5px;
}
.accountBalanceContainer {
  background: #0096f8;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  height: 42px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 600;
  border-radius: 8px;
  font-size: 17px;
  border: 4px solid #3cb2ff;
}
.accountBalanceContainer a {
  border: 2px solid;
  border-radius: 100%;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  margin-left: 10px;
  font-size: 13px;
}
.profileDrop:after {
  content: '';
  position: absolute;
  bottom: 99%;
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 7.5px solid #ffffff;
  clear: both;
  display: block;
  right: 5px;
}
.profileDrop a.active {
  color: #3cb2ff;
}
.profileDrop a p {
  font-size: 14px;
}
.profileDrop a h4 {
  font-size: 17px;
}
.profileDrop a:last-child {
  border-radius: 0px 0px 8px 8px;
}
.profileDrop a:first-child {
  border-radius: 8px 8px 0px 0px;
}
.profileDrop a:not(:first-child) {
  padding-top: 0px;
}
.profileDrop a {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.searchContainer input {
  height: 50px;
  width: 100%;
  padding-left: 25px;
  padding-right: 60px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  font-weight:600;
}
.searchContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width:100%;
}
.navProfileInfoContainer {
  position:relative;
}
.profileDrop a {
  display: flex;
  flex-direction: column;
}
.listingsTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  background: white;
  padding: 25px;
  border-radius: 8px;
  /* box-shadow: 0px 0px 30px -8px #d2dde8; */
}
.isStackedSwitch .listingImageContainer {
  min-height: unset !important;
}
.selectContainer select {
  height: 50px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  border-radius: 8px;
  margin-left: 25px;
  color: #061649;
  font-weight: bold;
  border: 1px solid #e8e8e8;
}
.selectContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 175px;
  max-width: 300px;
  position:relative;
  align-items: center;
}
.selectContainer i {
  color: #061649;
  position: absolute;
  right: 25px;
  font-size: 15px;
}
.viewMethod a:not(:last-child) {
  margin-right: 15px;
}
.viewMethod {
  color: #082c6d;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 57px;
  font-size: 31px;
  line-height: 0px;
  margin-left: 25px;
}
.greetingsTR a i {
  margin-right:5px;
}
.viewMethod a img {
  width: 25px;
}
.viewMethod a{
opacity:0.25;
}
.viewMethod a.active{
  opacity:1;
  }
  .listingsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    padding-left:25px;
    padding-right:25px;
}
.bidPageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gbProfileContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.gbProfileContainer img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 4px solid #e6eaef;
  margin-right: 12.5px;
}
.profileInfoGB {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.greetingBlockTop {
  margin-bottom: 25px;
}
.greetingBlock {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 30px -8px #d2dde8;
  width: 100%;
  position:relative;
  display:flex;
  flex-direction:column;
}
.greetingBlock:nth-child(2){
  margin-left:25px;
  margin-right:25px;
}
.greetingBlockTop h4 {
  line-height: 13px;
}
.gbPRight {
  line-height: 14px;
}
.gbPRight p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #b7c1cc;
}
.greetingAcc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bgbtL p {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}
.bgbtL h4 {
  line-height: 27px;
  font-size: 32px;
  color: #0096f8;
}
.balanceGB {
  height: 100%;
}
.balGbTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
}
.bgbtR a {
  min-width: 125px;
  background: #0096f8;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 8px;
  width: 100%;
}
.bgbtL h4 b {
  color: #b7c1cc;
}
.bgbtR {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height:100%;
  height:50px;
}
.bgbtR a:last-child {
  background: #47138b;
  margin-left: 25px;
}
.bgbtL p {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  color: #b7c1cc;
}

.affiliateInputContainer input {
  height: 50px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  color: #0096f8;
  font-weight: 600;
}
.gbATop h4 b {
  color: #0096f8;
}
.gbATop h4 {
  line-height: 13px;
  margin-bottom: 5px;
  font-size: 13px;
}
.affiliateInputContainer a {
  position: absolute;
  right: 25px;
  font-size: 23px;
  color: #0096f8;
}

.affiliateInputContainer {
  position: relative;
  display: flex;
  align-items: center;
}



.gbABot div h6 {
  text-transform: uppercase;
  color: #b7c1cc;
}
.gbABot div p {
  font-weight: bold;
  font-size: 17px;
  line-height: 12px;
  margin-top: 5px;
}
.gbABot div:nth-child(3) p {
  color: #0096f8;
}
.gbABot div:nth-child(2) {
  margin-left: 25px;
  margin-right: 25px;
}
.gbABot {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.unsetAffiliateWindow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: #ffffffd6;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #061649;
  flex-direction: column;
}
.setCodeContainer input {
  height: 50px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #e8e8e8;
  border-right:none;
}
.setCodeContainer a {
  height: 50px;
  background: #0096f8;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 0px 8px 8px 0px;
  font-weight: bold;
  color:#fff;
}
.setCodeContainer {
  display: flex;
  margin-top: 25px;
}
.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.leftGBlock p {
  font-size: 21px !important;
  line-height: 15px !important;
}
.peopleBidLeft img:not(:first-child) {
  margin-left: -10px;
}
.peopleBidLeft img {
  border-radius: 100%;
  width: 46px;
  height: 46px;
  border: 4px solid #fff;
}

.peopleBidLeft span {
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-weight: bold;
  background: #0096f8;
  position: relative;
  margin-left: -10px;
  border: 4px solid #fff;
  font-size: 11px;
  color:#fff;
}
.peopleBidContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.peopleBidLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.listingBottomBot > h4 {
  line-height: 13px;
  margin-bottom: 15px;
}
.priceAndTimeContainer span {
  line-height: 20px;
  color: #0096f8;
}
.individualListing {
  background: #fff;
  border-radius: 8px;
  padding: 25px;
  color: #061649;
  flex: 1 0 calc(25% - 10px);
  box-sizing: border-box;
  margin-left: 25px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-width:354px;
  min-width:325px; */
}
.peopleBidContainer h5 {
  color: #b7c1cc;
  min-width: 105px;
  font-weight:600;
}
/* .listingBottom {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #e8e8e8;
} */
.actualListings {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-top: -25px;
}
.peopleBidLeft img:first-child {
  margin-left: -4px;
}
.currentBidderContainer img {
  width: 44px;
  height:44px;
  min-height:44px;
  min-width:44px;
  border-radius: 100%;
  margin-right: 12.5px;
  border: 4px solid #e6eaef;
}
.currentBidderContainer span {
  font-weight: bold;
}
.currentBidderContainer {
  /* margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e8e8e8; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.currentBidderContainer span:last-child {
  color: #b7c1cc;
  font-size: 13px;
  font-weight: 600;
}
.cBidSub {
  display: flex;
  flex-direction: column;
  width:100%;
}
.listingTitleContainer h4 {
  line-height: 14px;
  font-size: 20px;
}
.listingImageContainer img {
  width: 150px;
}
.listingImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  min-height: 175px;
}
.bidOnItemContainer a {
  min-width: 125px;
  background: #0096f8;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-size: 16px;
  padding-left: 25px;
  border-radius: 8px;
  width: 100%;
}
.currentPrice {
  color: #44ca83;
}
.bidOnItemContainer {
  margin-top: 25px;
  /* border-top: 1px solid #e8e8e8;
  padding-top: 25px; */
}

.priceAndTimeContainer div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #061649;
  border-radius: 8px;
  font-size: 27px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.priceAndTimeContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.listingTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listingTitleContainer span img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}
.listingTitleContainer span b {
  color: #44ca83;
  margin-left: 5px;
  font-size: 16px;
}
.listingTitleContainer span {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight:bold;
}
.almostEnded {
  color: #ff7159;
}
.bidButton span {
  margin-left: 5px;
  font-size: 21px;
  height: 100%;
  background: #0081d6;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:0px 8px 8px 0px;
}
.currentBidderContainer div:last-child {
  line-height: 20px;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.actualListings.stacked {
  flex-direction: column;
}

.isStackedSwitch > div:last-child {
  width: 100%;
}
.isStackedSwitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  position:relative;
}
.isStackedSwitch .listingImageContainer {
  padding:0px;
}
.isStackedSwitch .listingBidsPriceContainer {
  position: absolute;
  bottom: 0px;
}

.isStackedSwitch .priceAndTimeContainer div, .isStackedSwitch .priceAndTimeContainer {
  margin:0px;
}

.isStackedSwitch .listingImageContainer img {
  width: auto;
  position: relative;
}

.isStackedSwitch > div:first-child {
  margin-right: 50px;
}
.footerMid img {
  width: 20px;
}
.footerLeft p {
  font-size: 13px;
  font-weight: 600;
  line-height: 10px;
  margin-top: 7.5px;
}
.footerContainer {
  background: linear-gradient(to bottom, #131556 0%, #061649 100%);
  color: #ffffff;
}
.footerSubContainer > div {
  position:relative;
  z-index:1;
}
.footerSubContainer {
  position:relative;
}
.footerSubContainer::after {
  content: "";
  background: url(media/ps.svg);
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  background-position: center center;
  background-size: 18px;
}
.footerLeft img {
  width: 110px;
}
.footerSubContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  min-height:120px;
}
.footerRight ul a:last-child {
  margin-top: 7.5px;
}
.footerRight ul a {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}
.footerRight ul {
  display: flex;
  flex-direction: column;
}
.footerMid ul h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 13px;
  margin-bottom: 20px;
}
.footerIconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerIconsContainer a:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}
.footerIconsContainer a {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}



@media screen and (max-width: 768px) {
  .individualListing {
    max-width:unset;
    min-width:unset;
  }
}



























